.broker-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
    color: #222;
    gap: 20px;
}

.broker-title{
    font-weight: bold;
    color:#222
}

.broker-card{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    height: none;
}

.broker-card img{
    width: 150px;
    height: 50px;
}