.welcome-page{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color: white;
    gap: 20px;

    /* background: linear-gradient(
        to bottom,
        #1e1b4b,
        #312e81
    ); */
    background: #031B33;
}

.logo-container {
    width:120px;
    height:120px;
    object-fit:contain;
    overflow: hidden;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
}

.logo-container img{
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.app-title{
    margin:0;
    font-size:3rem;
}

.tagline{
    margin:0;
    font-size:1.1rem;
    opacity:0.8;
}

.dots{
    display:flex;
    gap:10px;
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:white;
    opacity:0.4;
}

.active-dot{
    opacity:1;
}

.start-button{
    width:220px;
    padding:15px;
    border:none;
    border-radius:16px;
    background-color: #6366f1;
    color:white;
    font-size:1rem;
    cursor:pointer;
}

.start-button:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}